<footer class="page-footer font-small bg-secondary pt-4">

  <div class="container">

    <div class="row">
      <div class="col-md-12 df-flex justify-content-center">
        <h3 class="text-white">Siga-nos em nossas redes sociais</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li>
            <a href="https://www.facebook.com.br/jeff" target="_blank" class="icoFacebook" style="margin: 0 15px;">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>


          <li>
            <a href="https://www.instagram.com.br/jeffsouza01" target="_blank" class="icoInstagram" style="margin: 0 15px;">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>


          <li>
            <a href="https://linkedin.com.br/in/jeffsouza01" target="_blank"  class="icoLinkedin" style="margin: 0 15px;">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

        <div class="footer-copyright bg-dark text-center py-3">
          <span class="text-light">@Copyright 2022: </span>
          <a class="text-light" target="_blank" href="https://github.com/jeffsouza01">JeffSouza - Brazil</a>
        </div>

</footer>
