<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
                <div class="form-group">
                    <label for="user">User</label>
                    <input [(ngModel)]="userLogin.user" class="form-control" type="text" name="user" id="user" placeholder="User">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input [(ngModel)]="userLogin.password" class="form-control" type="password" name="password" id="password" placeholder="Password">
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-sucess" (click)="login()">Login</button>
              </div>

              <hr class="mt-5 mb-5">
              <p class="text-center">Ainda não tem uma conta?? <a routerLink="/register">Cadastre-se</a></p>


        </div>
    </div>

</div>